In [14]:
%pip install yfinance

Requirement already satisfied: yfinance in ./.venv/lib/python3.13/site-packages (0.2.52)
Requirement already satisfied: pandas>=1.3.0 in ./.venv/lib/python3.13/site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in ./.venv/lib/python3.13/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: requests>=2.31 in ./.venv/lib/python3.13/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in ./.venv/lib/python3.13/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in ./.venv/lib/python3.13/site-packages (from yfinance) (5.3.0)
Requirement already satisfied: platformdirs>=2.0.0 in ./.venv/lib/python3.13/site-packages (from yfinance) (4.3.6)
Requirement already satisfied: pytz>=2022.5 in ./.venv/lib/python3.13/site-packages (from yfinance) (2025.1)
Requirement already satisfied: frozendict>=2.3.4 in ./.venv/lib/python3.13/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in ./.venv/lib/python3.13/site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in ./.venv/lib/python3.13/site-packages (from yfinance) (4.13.1)
Requirement already satisfied: html5lib>=1.1 in ./.venv/lib/python3.13/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in ./.venv/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in ./.venv/lib/python3.13/site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.12.2)
Requirement already satisfied: six>=1.9 in ./.venv/lib/python3.13/site-packages (from html5lib>=1.1->yfinance) (1.17.0)
Requirement already satisfied: webencodings in ./.venv/lib/python3.13/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas>=1.3.0->yfinance) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.13/site-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.13/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.13/site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.13/site-packages (from requests>=2.31->yfinance) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import yfinance as yf

In [16]:
sp500=yf.Ticker('^GSPC')

In [17]:
sp500=sp500.history(period="max")

In [18]:
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-01-29 00:00:00-05:00,6057.700195,6062.830078,6012.959961,6039.310059,4115310000,0.0,0.0
2025-01-30 00:00:00-05:00,6050.750000,6086.640137,6027.459961,6071.169922,4634620000,0.0,0.0
2025-01-31 00:00:00-05:00,6096.790039,6120.910156,6030.930176,6040.529785,4843770000,0.0,0.0
2025-02-03 00:00:00-05:00,5969.649902,6022.129883,5923.930176,5994.569824,4797210000,0.0,0.0
2025-02-04 00:00:00-05:00,5998.140137,6042.479980,5990.870117,6037.879883,3054209000,0.0,0.0

In [19]:
sp500.index

DatetimeIndex(['1927-12-30 00:00:00-05:00', '1928-01-03 00:00:00-05:00',
               '1928-01-04 00:00:00-05:00', '1928-01-05 00:00:00-05:00',
               '1928-01-06 00:00:00-05:00', '1928-01-09 00:00:00-05:00',
               '1928-01-10 00:00:00-05:00', '1928-01-11 00:00:00-05:00',
               '1928-01-12 00:00:00-05:00', '1928-01-13 00:00:00-05:00',
               ...
               '2025-01-22 00:00:00-05:00', '2025-01-23 00:00:00-05:00',
               '2025-01-24 00:00:00-05:00', '2025-01-27 00:00:00-05:00',
               '2025-01-28 00:00:00-05:00', '2025-01-29 00:00:00-05:00',
               '2025-01-30 00:00:00-05:00', '2025-01-31 00:00:00-05:00',
               '2025-02-03 00:00:00-05:00', '2025-02-04 00:00:00-05:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=24389, freq=None)

In [20]:
del sp500['Dividends']
del sp500['Stock Splits']

In [21]:
%pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.13/site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas as pd

In [24]:
sp500['Tomorrow']= sp500['Close'].shift(-1)

In [25]:
sp500

,Open,High,Low,Close,Volume,Tomorrow
Date,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,17.760000
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,17.719999
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,17.549999
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,17.660000
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,17.500000
...,...,...,...,...,...,...
2025-01-29 00:00:00-05:00,6057.700195,6062.830078,6012.959961,6039.310059,4115310000,6071.169922
2025-01-30 00:00:00-05:00,6050.750000,6086.640137,6027.459961,6071.169922,4634620000,6040.529785
2025-01-31 00:00:00-05:00,6096.790039,6120.910156,6030.930176,6040.529785,4843770000,5994.569824
2025-02-03 00:00:00-05:00,5969.649902,6022.129883,5923.930176,5994.569824,4797210000,6037.879883
2025-02-04 00:00:00-05:00,5998.140137,6042.479980,5990.870117,6037.879883,3054209000,NaN